[2015-12-10 00:57] wczekalski opened #1 "Setting up environment"
I'm not an Android developer but would love to help in this one. I have a question how you have your environment set up. As I'm a mac user I would try to address this issue:

It's a cool project!

[2015-12-10 13:49] artemglukhov commented on #1
You maybe should check something like android building from source. You can build it from osx so it's easy to think that it would be something similar to target Android from Swift source

[2015-12-10 15:20] ephemer opened #2 "Problem building on Ubuntu 15.10"
I am trying to build the swift stdlib for Android from your fork and am getting stuck right at the start of the build process. I'm using Ubuntu 15.10 and have updated the paths to /home/zhuowei with equivalent paths of my own (that contain the expected files of course : )

The process hangs in two different locations, depending whether I'm starting with a clean build folder or not. With a clean fo

[2015-12-10 16:56] #1 closed

[2015-12-10 18:17] ephemer commented on #2
Never mind, Apple's repo won't build for me either right now. I'll try to fix that first..

[2015-12-10 18:17] #2 closed

[2015-12-10 18:28] ephemer commented on #2
If anyone else has this issue, I had to run `sudo apt-get update` and then update my version of `ninja-build`. I have a feeling it wasn't even the normal `ninja` that was installed the first time.

[2015-12-12 20:48] zhuowei commented on #1
You'll probably have to modify the build files to do this. I kinda understand how the Swift build system works, but you'll have better luck if you ask on the swift-dev mailing list for advice

[2015-12-13 00:48] zhuowei opened #3 "find public domain/LLVM code to replace current third-party code"
Hopefully I can get around to doing this before someone tries to use this for crypto...

[2015-12-14 12:21] ephemer opened #4 "Lib Bionic doesn't compile"
I'm using your pre-built toolchain and I can't get swiftc-android to compile anything. It first tries to build Bionic, which doesn't work because the module map contains absolute paths:

[code]

etc

After replacing these absolute paths with my own, Bionic still fails to build. It seems to be missing a lot of internal dependencies. I've tried setting `C_INCLUDE_PATH=$ANDROID_NDK_HOME/platforms/and

[2015-12-14 16:29] ephemer opened #5 "Enums and Protocol conformance causes segfault on android"
I finally managed to get my own compiled version of the swift toolchain working with the help of your `swiftc-android` script. I am now testing some code examples to see what works.

Compiling and linking multiple swift files seems to be fine.
Glibc seems to work fine (avoiding arc4_random of course ;) - pow, sqrt etc. at least..

The current issue is that even a simple enum like this one:

[code]

[2015-12-14 16:33] ephemer commented on #4
I ended up giving on on this and just compiling the toolchain from your sources using the second-latest commit. Using your `swiftc-android` script, this allows me to build android binaries that run as expected, other than the segfaults detailed in #5

Not sure how we can get around the bionic issue for people who can't compile the source themselves though

[2015-12-14 23:47] zhuowei commented on #4
I managed to compile a Hello World on a machine with the NDK at a different path, so  I guess only the Bionic library is broken; I'll see what I can do with the hardcoded paths.

For the hardcoded path issue, I would probably just have swiftc-android replace the hardcoded paths with the current NDK home when you run it.

Thanks!

[2015-12-14 23:48] zhuowei commented on #5
Thank you so much for the report! I'll try to get the stdlib testcases running when I have a bit of time to try to track down the source of this error.

I would guess that the source of the error is caused by not properly loading the conformance data for the current executable (enums generate conformance data; "hello world" doesn't, and I would assume structs conforming to protocols also generate

[2015-12-15 03:00] #5 closed

[2015-12-15 03:34] zhuowei commented on #5
Fixed. (By the way, you seem to be very interested in this project: I can give you commit access to the repo if you want)

[2015-12-15 03:36] zhuowei opened #6 "Get tests running"
test/lit.cfg needs to have a way to push executables to Android and get stdout, stderr back correctly. Also, linker flags in lit.cfg needs to be tweaked to work on Android.

LLVM lit had [a patch for running tests on an Android device](http://reviews.llvm.org/D4594) but the patch was never merged. :(

The current plan is to make a small wrapper script that pushes to the device and use it in target

[2015-12-15 10:04] ephemer commented on #4
Yes it seems (strangely enough) that Glibc and Bionic get recompiled every
time, even if the .so binaries are in the correct /lib subfolder

[2015-12-15 10:15] ephemer commented on #5
Wow, great work on pushing a fix so quickly! Yes I'm very interested, have been working on this every day for a week and a half now (well I guess that's since swift went open source :)

Push access would be great, I'm new to compiler hacking and I'm fairly new to C++ too so I'm not sure I have a huge amount to contribute to that side of things. I think I can definitely help out in making the UX sm

[2015-12-16 19:34] ephemer opened #7 "libicu doesn't link at runtime on android systems with their own icu"
I have been playing around with the JNI from within Android Studio and got my first direct Java->Swift->Java call working in a normal APK.

The problem I ran into is that libicu doesn't seem to load in the same way al the other libraries do. I repeatedly get a libswiftCore couldn't load because it couldn't find a certain libicu symbol (which I established is in libicui18n.so). Putting libicui18n.s

[2015-12-17 23:45] zhuowei commented on #7
It's probably possible, but since you have Java can't you just System.loadLibrary libicu directly?

Also, don't worry: I'm more noob here than you are (never compiled LLVM - or indeed wrote any Swift - before this project)

[2015-12-17 23:47] zhuowei opened #8 "Find the correct way to package libicu data files"
Swift needs at least the collation data; a full libicudata.so is like 25MB; need to find better solution for packaging it...

Swift needs something in the icudata, anyways, since for MakeRootCollator() without data it dies after
[code]

[2015-12-18 02:03] zhuowei commented on #6
Some tests can run now, but the standard test framework spawns a subprocess to run tests in parallel, so need to implement subprocess.

[2015-12-18 03:21] zhuowei commented on #3
A Posix_spawn implementation from FreeBSD (modified to use fork instead of vfork (which is too sketchy)) worked fine.

Looks like the lack of random number generation is being caught in the unit test: test/1_stdlib/ReflectionHashing.swift aborts probably because of missing random.

[2015-12-18 14:17] ephemer commented on #7
Hmm, I didn't try that yet, because I don't need to System.loadLibrary on `libswiftCore` or any of the others for my SwiftTest library to load correctly. Just including the other `.so`s in Android.mk seems to be enough to make them available at runtime. This didn't seem to work for libicu for some reason. I'm not sure if it's worth posting about this on the mailing list because it's very specific

[2015-12-18 14:21] ephemer commented on #8
I wondered whether static linking could fix the issue of size, or simply including the relevant source files in the Swift source bundle for certain platforms (I gather Android isn't the only one without built-in libicu support). I don't know how deep the rabbit hole of internal dependencies goes, but we may be able to get away with just compiling a small subset of libicu source files directly alon

[2015-12-18 20:44] zhuowei commented on #7
I'll have more time next week to work on it: the next thing I would like to do is to clean it up enough to send a pull request upstream. Later I would like to add some sort of Android Studio/Gradle integration but I need to learn Gradle first.

[2015-12-21 16:37] ephemer commented on #8
Android seems to come with a precompiled libicu, at least icui18n and icuuc, which seem to be the modules required by the swift stdlib. These files are each about 1.5mb or less on my Galaxy Tab. Don't know if we can use these pre-compiled binaries in any reasonable way, or what the implications of them not being included in the NDK are.. I still can't get them or the self-compiled libraries to lin

[2015-12-21 16:42] ephemer commented on #8
I also noticed there is an intermediate coll.o file hanging around somewhere in the build directory. Maybe it'd be enough to just the stdlib link against it directly at compile time? Again I'm out of my depth there though

[2015-12-22 18:41] zhuowei commented on #3
Need to replace the existing getline, posix_spawn, and SunSoft libm stuff with either public domain or LLVM code - https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20151221/000547.html

[2015-12-22 18:46] zhuowei commented on #8
I do strip the libicu in the release tar.xzs and it doesn't make too much of a difference. We can probably statically link libicu but not sure of the license implications of that (Swift stdlib is Apache 2 with Runtime Exception)

I'll rather not depend on the Android system libicu since it's not a NDK library, so Android isn't required to have it or maintain compat - and I heard that phone manufac

[2015-12-23 01:08] ephemer commented on #8
Good points. Yes, I saw today that Android Studio automatically strips the
dlibs when packaging an APK.

In any case I still haven't got any further with the linking problem. I
wonder if ICU is depending on some other libraries that are only present on
the emulator.

I'm trying to find a good way to debug the loadLibrary errors via readelf
strace and nm (any other tips and tools welcome), currentl

[2015-12-23 18:01] ephemer commented on #8
I think the issue is that my device has an old version of ICU pre-installed in `/system/lib` (see http://stackoverflow.com/questions/34441104/android-ndk-resolve-dynamic-library-version-conflict for a full write-up) I don't know enough about symbol resolution to be sure though – it seems weird that even if I load ICU manually, the symbols are still missing. The emulator seems to have a newer ICU i

[2015-12-23 18:05] ephemer commented on #7
As a direct response to using System.loadLibrary: it doesn't seem to work. I've also tried using absolute paths via System.load(/absolute/path/to/libicudata.so, icui18n and icuuc) to be sure the newly-compiled ICU is used instead of the outdated inbuilt version. The missing symbols remain unresolved.

[2015-12-23 23:00] oscarbg opened #9 "Can share info about how to start porting to Windows.."
Hi,
maybe some effort porting to Android can be shared for porting to Windows platform..
if yes can you share some plan on how to start a Swift port to Windows?
Would be even better if you can get interest in doing an early swift Windows port

[2015-12-24 04:10] rothomp3 commented on #9
I think that people are assuming, for better or worse, that Microsoft is going to do the Windows port. It's probably not the best idea to depend on them for that, but I haven't heard of any community efforts in that direction yet.

[2015-12-26 00:25] ephemer commented on #9
@oscarbg there would probably be even more involved with a Windows port than this Android port, because Linux (including Android) and OSX / iOS are related by their shared UNIX heritage (making it easier to use much the same processes across the board). Windows is quite a different ecosystem with different tools and processes.

[2015-12-28 15:36] ephemer commented on #8
You can reduce icudata size with this tool (see bottom for tools supporting various ICU versions)
http://apps.icu-project.org/datacustom/

[2015-12-28 15:47] ephemer commented on #7
I am looking at this again, it seems to be the only hurdle before getting Android APKs working on a device.

The only solution that I can see working at this stage is to build ICU with essentially a different SONAME so that it can be linked against specifically (and without needing RPATH). Today I tried to change `ICUPREFIX` from `icu` to `swiftICU` in the following files

[code]

But the output f

[2015-12-31 14:03] ephemer commented on #7
I couldn't figure out how to compile ICU differently yet, but I did a hacky solution as per https://groups.google.com/forum/#!msg/android-ndk/_UhNpRJlA1k/7_R6NwhiKa0J changing lib**icu** to lib**scu** in all instances of the .so files, including in the Swift libraries of course. It works! So we have swift-powered APKs running on a device. There's some work to be done in getting this setup repeatab

[2015-12-31 14:14] ephemer opened #10 "JNI Support"
I have a pretty solid base of a Swift JNI Wrapper ready. It doesn't do anything complex, but allows calling Java methods with varying levels of complexity, wraps some of the create jobject (e.g. Array) functions etc. At the moment it's coupled into my program code, but I'd like to make it a separate module and publish it as a part of SwiftAndroid.

For some reason I could only get JNI importing if

[2016-01-06 06:03] zhuowei commented on #10
For the Package Manager, I tried following the instructions from https://github.com/apple/swift-package-manager/blob/master/Documentation/SystemModules.md and was able to get jni.h importing on regular Linux openjdk, so I guess the procedure would be similar (create package, git commit, git tag, add to dependencies) for Android.

For adding an extra package to the build system, https://github.com/

[2016-01-06 06:06] zhuowei commented on #9
Does the Swift compiler even build on Windows? I tried building it on Windows (twice) but gave up both times since the configure script is a Unix shell script and I'm not sure what compiler it needs (LLVM can build in Visual Studio but I have no idea whether the Swift compiler can.)

(The configure script starts in Mingw and Windows Python 2, but I don't think I managed to get it to build anything

[2016-01-06 06:09] zhuowei commented on #7
I think I figured out the issue: the libicu wasn't being compiled correctly on my end (it's still compiled with gnustl instead of libc++). I pushed the fix; after rebuilding the new libicu is able to run on Nexus 6P correctly in an APK.

https://github.com/SwiftAndroid/libiconv-libicu-android

[2016-01-07 03:01] zhuowei commented on #4
Try with the latest version: run
`swift androidfix`
to fix the include paths.

I included the Clang headers (so the "stddef.h missing" error should go away).

[2016-01-12 01:13] modocache commented on #6
Can you explain how you're running tests? I'd like to work on getting tests to pass on this fork.

[2016-01-12 02:46] modocache commented on #6
Oh, I see 0079df115500e834d7c6fb40276a2f010ffee2d7. I'll try using that--thanks!

[2016-01-14 03:03] ewmailing commented on #8
Hi, I have information that will benefit your effort. I had to build ICU as a dependency for JavaScriptCore on Android and hit very similar issues. Ultimately, I went with static linking. I documented how to do that here:

https://github.com/appcelerator/hyperloop/wiki/Building-JavaScriptCore-for-Android
Also, I wrote automation scripts for an internal Jenkins server here:
https://github.com/appce

[2016-01-18 13:49] ephemer commented on #10
As far as I can see, we'd have the same issues with a swiftpm module as with an 'inbuilt' package that is bundled with with Android Swift installations. Given that it's pretty much pointless to have Swift on Android without the JNI, my strong inclination would be to compile it alongside the stdlib (like Glibc/Bionic).

As for how to get the NDK path, according to http://clang.llvm.org/docs/Modules

[2016-01-18 13:51] ephemer commented on #10
Also, I saw that commit about adding a module, but noticed that I can't actually `import Bionic` either. Apparently it overlays the SDK correctly (otherwise I couldn't use the libc functions, I guess), but I don't get a separate module. Is that the same for you, or is there something else I need to do to get it working?

[2016-01-18 18:45] ephemer opened #13 "Cross-compile for Android from OSX"
I have just pushed a branch called osx-crosscompile that is at the stage of correctly compiling the objects (as verified using `nm` from the different toolchains). It fails at the linker stage. I don't understand my way around the OSX toolchain just yet, or how to change it to use the Android toolchain.

Basically it's failing because the OSX linker doesn't understand --sysroot, up until that poin

[2016-01-18 19:24] modocache commented on #13
Awesome, @ephemer! I've been thinking about this same problem. I have some work up on a branch based off of apple/swift `master`: https://github.com/modocache/swift/tree/build-script-cross-compile-sdks

Here are my notes:

Currently, [the Swift build scripts and CMakeLists files support limited cross-compilation of the stdlib](https://github.com/apple/swift/blob/6964301977ed0c09a5ea09812093260f99a

[2016-01-18 19:47] ephemer commented on #13
Hi @modocache, I like the look of the changes you made. Seems to make breaking apart host and target a lot more intuitive. Have you tested these for OS X/iOS targets?

[2016-01-18 19:50] ephemer commented on #13
Also, would you use configure_sdk_darwin, as you linked to, or do you expect configure_sdk_unix to work from an OS X host?

[2016-01-18 19:55] hpux735 commented on #13
I too am elbow-deep in Swift CMake, but I'm working on adding support for the gold linker in linux.  I hope that my changes don't conflict with either of these too much.  Do you either of you have an estimate of when you expect these changes to be close to merging in?  It sounds like there might be a somewhat delicate three-way merge of CMake changes on the horizon.

[2016-01-18 19:56] modocache commented on #13
@ephemer They currently **only** work for all host compilation, and for cross compilation from OS X to iOS/tvOS/watchOS targets. I tried applying the same patches to this SwiftAndroid fork but encountered some errors which I should have saved somewhere... :disappointed:

`configure_sdk_unix` won't crash and burn on OS X, but [it sets the `SWIFT_SDK_${prefix}_PATH` to `/`](https://github.com/apple/

[2016-01-18 19:58] modocache commented on #13
@hpux735 Great to hear! No worries here. As I mention above, I think any patches I land to support cross-compilation will be very different from what I have on my https://github.com/modocache/swift/tree/build-script-cross-compile-sdks branch. I don't have a clear picture of what those will look like yet, and I'm happy to rebase onto your changes.

[2016-01-18 20:00] ephemer commented on #13
I think going forward I'll end up basing any further patches on modocache's
work, so if you keep that in mind and maybe even rebase onto his branch
when it's building across the supported targets, my changes here should be
relatively painless to put on top.

@modocache do you plan to continue work on this? Would be great if you get
it to a mergeable state
William Dillon notifications@github.com sc

[2016-01-18 20:01] hpux735 commented on #13
Excellent, what do you think @modocache?  Should I rebase off of you?

[2016-01-18 20:09] modocache commented on #13
I am actively working on cross-compiling Swift, but I don't think my work on https://github.com/modocache/swift/tree/build-script-cross-compile-sdks is a good approach, so I wouldn't advise rebasing off of that.

I'll probably make a new branch that is based off of apple/swift `master`, and I'll post a comment here when that happens! :wave:

[2016-01-18 20:22] ephemer commented on #13
@modocache the approach in your branch seems more manageable than what's currently in master. I missed what the catch is. Also I'm not sure how much further I'll get without some kind of structured approach like your current branch. Are you suggesting I wait a while before continuing with this? I have a pretty good idea what errors you would have come across with SwiftAndroid btw: I've just spent

[2016-01-18 21:09] modocache commented on #13
@ephemer The "catch" I'm imagining is that manually keeping track of which platform we're targeting will become increasingly unwieldy. When cross-compiling multiple targets, it is untenable. For example, let's say we're cross-compiling from OS X to iOS and Android. CMake provides a single, global [`LINK_FLAGS` parameter](https://github.com/apple/swift/blob/6964301977ed0c09a5ea09812093260f99a2f8a6/

[2016-01-19 10:58] ephemer commented on #13
Ok, I only looked at your code on GitHub and I guess I missed this
intricacy.

It makes sense if we can just use the CMAKE_SYSTEM_NAME as the target name,
no? The problem there is that iOS SDK targets also have versioning. But
logically speaking that should be an exception rather than the rule.

I'm not sure how the LINK_FLAGS situation would be an issue if you're
invoking CMake multiple times. Wa

[2016-01-19 15:12] modocache commented on #13
My change still builds all stdlib targets using a single CMake invocation, like apple/swift `master` does. I plan on proposing a change to have stdlib targets built via multiple CMake invocations sometime today.

Basically, this is how Swift is built now:

[code]

This is how I'd like to change it:

[code]

I may be missing something, though. Definitely let me know how your approach goes, or if yo

[2016-01-19 16:42] ephemer commented on #13
Sounds great to me in theory. Before you get too far here though, I'd like to point you to the discussion on the swift mailing list about this topic, starting here (there are about 6 emails on the topic):
https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20160118/000870.html

Given that we're building a compiler which then builds other things itself (which is always going to be tricky with t

[2016-01-19 17:55] modocache commented on #13
@ephemer Absolutely. Have you seen https://bugs.swift.org/browse/SR-237? I'd love to move as much into Python as possible.

Thanks a ton for the link to the mailing lists! I'll read through them now.

[2016-01-19 18:24] modocache commented on #13
From the mailing list discussion:

Cool, this mirrors my understanding as well. Glad to see I'm not completely out of my depth.

Interesting. I'm reading [the linked article](http://aegis.sourceforge.net/auug97.pdf) now, to get an idea as to whether we should pursue multiple invocations for OS X-to-Linux cross-compilation only, or whether we should a single CMake invocation no matter what kind of

[2016-01-20 04:14] modocache commented on #6
Here are my results for `swift-linux-x86_64/test-android-armv7`: https://gist.github.com/modocache/cf888cf869f06207c262

tl;dr:

[code]

[2016-01-20 04:16] modocache commented on #6
Here are my results for `swift-linux-x86_64/test-linux-x86_64`:

[code]

I'll look into (a) fixing the failures on `swift-linux-x86_64/test-android-armv7`, and (b) reducing the number of unsupported tests for that test suite.

[2016-01-20 13:59] ephemer commented on #13
@modocache I had seen that bug report but missed that you were driving force behind it! Haha, keep up the good work.

From what I've found out the last couple of days, it seems that it really does make sense to run multiple CMake invocations when you want to use a different compiler/linker toolchain, as is most likely the case with e.g. OSX->Android cross compiling. That's because setting the CMAK

[2016-01-20 17:08] ephemer commented on #13
I feel like I'm out of my depth and don't seem to be making any progress on this at the moment. It seems like the inbuilt clang would be fine to build the android sources, we just need to tell **it** to use the android linker. I'm not experienced enough with compiling and linking generally to know how to go about that but it seems doable.

On a side note, I did come across this https://github.com/

[2016-01-20 17:17] ephemer commented on #10
I've just pushed a jni-swift branch with some wrapper functions I've used so far in my swift android projects. Still have the issue of lacking the JNI headers in the default installation. I still think including a separate module would be the best solution here but I'm still a bit lost as to how (see comment above).

[2016-01-20 17:53] ephemer commented on #9
I think this discussion isn't really relevant to the swift port and is more a topic for the swift.org mailing lists. Closing for now..

[2016-01-20 17:53] #9 closed

[2016-01-21 07:18] avaidyam opened #14 "Current status in NDK usage?"
This isn't so much an issue as it is a usage question:

I have a small Swift framework that I'd rather not port into Java. It's only using NSObject for the `setValue:forKey:` magic, and that could be easily replaced. If it's written in pure Swift, how would I interface it from the Java side of things?

[2016-01-23 06:17] zhuowei commented on #14
Currently @ephemer is working on https://github.com/SwiftAndroid/swift-jni, which allows access to Java JNI. Then, one can write wrapper functions that convert JNI arguments to/from native Swift datatypes, and use them as native methods from Java. A very simple proof of concept can be found at https://github.com/SwiftAndroid/swift-android-samples/blob/master/swifthello/src/main/swift/Sources/main.

[2016-01-23 22:09] avaidyam commented on #14
The problem is that I do need compatibility with the reference toolchain. I'll take a look at the other projects; thanks for the info!

[2016-01-24 12:41] ephemer commented on #14
What do you mean exactly by compatibility?

@zhuowei has made a gradle plugin that will compile your swift code alongside other native code. Personally I've just used swiftc-android to build shared libraries which can be loaded / linked against by any other native come you compile (regardless of toolchain)

Either way you'll very likely have to deal with the JNI/NDK, unless you use RemObjects Silv

[2016-01-24 20:28] avaidyam commented on #14
@ephemer @zhuowei So if I have a pure Swift project, understandably I would end up dealing with the JNI or NDK (which is C++, so how is Swift doing that?). Is there a way for me to expose all the library functions/classes/structs to the Java side of things and call them directly?

[2016-01-25 08:52] ephemer commented on #14
@avaidyam, you expose certain top-level (non-class) functions to Java, currently using some undocumented (but very easy to use) compiler features. In a nutshell, that is what the JNI _does_.

Maybe I'm missing something but from what I can see the JNI and NDK have C (in addition to C++) APIs, which is no problem for Swift. What I've done is wrap those C APIs to make them look closer to their C++ e

[2016-01-25 08:54] avaidyam commented on #14
@ephemer Got it, thanks! :+1:

[2016-02-07 00:23] #14 closed

[2016-02-09 01:33] modocache commented on #6
Tests are running pretty well. There are currently less than 10 failures across the `test` and `validation-test` suites.

To make it easier to run tests, I moved the test runner to the main Swift repository and added documentation on how to use it: https://github.com/SwiftAndroid/swift/commit/5b4e565b5be35147047072c49891ee287ef06d3e

We can track test failures in separate issues, but the overall p

[2016-02-09 01:33] #6 closed

[2016-02-09 01:35] zhuowei commented on #6
That's awesome! thank you so much.

[2016-02-09 01:42] modocache commented on #6
No, you're awesome! :+1: Thanks for the initial work in https://github.com/SwiftAndroid/swift/commit/0079df115500e834d7c6fb40276a2f010ffee2d7, it got me 99% of the way there.

[2016-02-09 20:06] modocache opened #15 "1_stdlib/VarArgs.swift"
[code]

`test/1_stdlib/VarArgs.swift` fails to compile when targeting android-armv7. @hpux735 tells me it also fails for Linux armv6/armv7.

I found the error message hard to understand. `cannot convert value of type '(_) -> Int32' to expected argument type 'CVaListPointer -> _'` -- huh? So I made the following change:

[code]

This results in the following error message, which is much easier to u

[2016-02-09 21:01] jrose-apple commented on #15
`va_list` is part of an architecture's calling conventions, so it's important to do whatever's expected on that architecture. I'm a little surprised the existing mapping didn't work, but the one you're adding should be fine.

For the actual arguments being passed incorrectly, you'll need to make sure that the logic in stdlib/public/core/VarArgs.swift actually makes sense for your platform. In this

[2016-02-09 21:03] modocache commented on #15
Awesome, thanks @jrose-apple! I'll try adding the mapping and double-checking the logic in `stdlib/public/core/VarArgs.swift`. :bow:

[2016-02-09 22:47] modocache commented on #15
The following gets this test passing for me:

[code]

android-armv7 is soft float, and I'm assuming that watchos-armv7k is as well--I think that's the real issue here. So instead of checking for `#if os(watchOS) && arch(arm)`, we should probably check for something like `#if arch(arm) && floattype(hard)`. Is something like `floattype` available? Should it be added? @jrose-apple

I think the work @

[2016-02-09 23:57] hpux735 commented on #15
@modocache This is what I get from `test/1_stdlib/VarArgs.swift`  on a linux-armv7 with hard float (GNUEABIHF)

[code]

[2016-02-10 04:15] modocache commented on #15
@hpux735 Awesome, thank you! And what if you apply the following patch?

[code]

My theory is that the above patch will get your test to compile and pass.

[2016-02-10 16:58] jrose-apple commented on #15
I'm not sure if `floattype` is something we want as a first-class predicate just yet, but maybe if we underscored it (`_floattype`) for now. That's a discussion for a separate PR on the main Swift repo, though.

(I think you also meant "watchOS uses hard float". At least, that's what I see from reading the LLVM target info; I can't find official documentation on developer.apple.com, and I don't ac

[2016-02-11 15:44] modocache commented on #15
After further investigation we're beginning to think this isn't a hard float vs. soft float issue. android-armv7 is soft float, whereas linux-armv7 is hard float, but both have the same problem.

We're thinking that actually iOS and tvOS don't conform to AAPCS, so those are the only ARM-based systems that _won't_ need this check. Every other ARM-based system will.

The solution we're going with is

[2016-02-11 17:27] jrose-apple commented on #15
Oh, good catch! Indeed that is in Apple's docs and I just [breezed over it](https://developer.apple.com/library/prerelease/ios/documentation/Xcode/Conceptual/iPhoneOSABIReference/Articles/ARMv6FunctionCallingConventions.html).

There's no 32-bit tvOS, so we shouldn't need to worry about that. Feel free to submit a pull request upstream.

[2016-02-11 17:29] jrose-apple commented on #15
It looks like the arm64/aarch64 conventions are different too, if/when that becomes interesting.

[2016-02-11 17:42] modocache commented on #15
@jrose-apple https://github.com/apple/swift/pull/1271 :+1:

[2016-02-16 04:50] #15 closed

[2016-02-16 05:31] modocache opened #16 "IRGen/objc_simd.sil"
[code]

The problem is that `android-armv7` has `@simd_c_args_float3` take an argument of `<3 x float>`, like the x86_64 check expects. But the check for armv7 expects `<4 x i32>` for some reason.

Running the tests for iphoneos-armv7 works (once you remove this pesky warning from the lit config):

[code]

[code]

In other words, it looks like the `armv7` check works for most platforms. @hpux735 n

[2016-02-16 05:43] hpux735 commented on #16
That's right, I've never noticed that this test fails.  I can't promise that it runs, however.

My first thought goes back to the recent discussion about softfloat on android.  I don't know much about android, but if it's using floating point emulation, I could see that it would implement this as a vector of floats to better match other environments.  Whereas on linux-armv7, SIMD is supported (I b

[2016-02-16 17:15] modocache opened #17 "stdlib/FixedPoint.swift.gyb"
[code]

`FixedPoint.swift.gyb` generates a massive amount of test cases: one for each `Int` type (such as `UInt8` and `Int64`) as a source, to one of each `Int` type as a destination, for each of 27 bit patterns. By my math that's `8 * 8 * 27 == 1728` tests. Tests for four `Int` types fail on `android-armv7`:

- UInt8
- Int8
- UInt16
- Int16

There are three patterns that cause these tests to fail

[2016-02-17 17:03] #17 closed

[2016-02-17 17:22] modocache commented on #16
Thanks, @hpux735! I'm still investigating.

One theory I'm bouncing around [after reading this article](http://www.russbishop.net/swift-2-simd): I know that different CPU vendors have different implementations of SIMD, such as MMX, AltiVec, 3DNow, SSE, and NEON. ARM uses NEON, whereas Intel processors use MMX. Is it possible these explain the discrepancies in this test?

But again, I'm stumped, si

[2016-02-18 19:05] hpux735 commented on #16
@modocache Very interesting, loved the link.

I certainly do think it's possible that the discrepancies could be related to those differences.  Also, I agree that it should be the same.

I tried that test, and it is run and passes on linux-armv7.

Have you looked at its includes (does it include simd.h)?  I wonder if there is a test in there that isn't matching correctly in armv7-android and is ch

[2016-02-19 15:32] modocache commented on #7
I'm going to close this out, since it seems like this issue was resolved. :+1:

[2016-02-19 15:35] modocache commented on #4
The modulemap no longer uses absolute paths. Instead, it references "SYSROOT", which is `sed`-ed in `stdlib/public/Bionic/CMakeLists.txt`. So this issue should be fixed! Thanks for the fix @zhuowei!

[2016-02-19 15:35] #4 closed

[2016-02-19 15:37] modocache commented on #3
I'd like to work on documenting a list of SwiftAndroid's dependencies, and which of those use incompatible licenses. I'd also like to consider sacrificing some dependencies/Swift features (see https://github.com/SwiftAndroid/swift/commit/1dde6bdfcda2332cda7365e3a3debfd5d80f5709 for an example) in favor of merging this fork upstream. What do you all think?

[2016-02-19 15:41] modocache commented on #13
@froody is continuing to work on this; see [the mailing list thread here](https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20160215/001123.html).

[2016-02-19 15:46] ephemer commented on #7
@modocache I'm still using the weird workaround, i.e. manually replacing strings in the libicu binaries. My memory of it was that that recompiling libicu with the other c++ stdlib didn't have any effect here. Just want to confirm it was really fixed

[2016-02-19 16:19] modocache commented on #7
Hmm, interesting. I've simply been running the Swift test suites on device, so I'm not sure about running APKs... if this is still an issue definitely feel free to re-open it!

[2016-02-19 18:25] modocache commented on #3
- ~~`getline` from Android source~~ https://github.com/SwiftAndroid/swift/commit/4a39bc65e585d9f1b7b3258094effb22d0610a60
- `posix_spawn` from FreeBSD libc
- ~~The SubSoft libm floating point routines in `stdlib/public/stubs/android_support/`~~ https://github.com/SwiftAndroid/swift/commit/4a39bc65e585d9f1b7b3258094effb22d0610a60
- ~~`execinfo.h`~~ https://github.com/SwiftAndroid/swift/commit/1dde6

[2016-02-19 18:28] ephemer commented on #7
Alright, I'm not working with android actively at the moment but if it
comes up again I'll reopen the issue

[2016-02-19 21:04] modocache commented on #3
~~Is it possible to just tear out the FreeBSD `posix_spawn` implementation, and instead simply have that functionality unavailable on Android?~~ I guess it isn't, since `stdlib/private/SwiftPrivateDarwinExtras/Subprocess.swift` and the test suite rely on it so heavily. Hmm...

[2016-02-20 03:34] zhuowei commented on #3
That should be it. The test suite doesn't require a whole lot of functionality from posix_spawn - just redirect file descriptors, if I recall; it might be possible to just rewrite it

[2016-02-20 04:00] modocache commented on #3
I'm looking at https://github.com/apple/swift/blob/e094e9f10ca4a63e195295e74dc852e5dd5a3234/lib/Basic/Unix/TaskQueue.inc#L133, and I bet we could do something similar for the unit tests--using `posix_spawn` if available, and `fork` if not.

[2016-02-24 17:23] jckarter commented on #3
`posix_spawn` is more efficient on Darwin and Win32 (and `fork` doesn't exist at all in mobile Darwin variants), so we'd prefer that `posix_spawn` still be used when available.

[2016-02-24 17:36] modocache commented on #3
@jckarter Absolutely. This will just be a fallback for platforms for which `posix_spawn` is unavailable. :+1:

By the way, I notice `swift/lib/Basic/Unix/TaskQueue.inc` uses a macro `HAVE_POSIX_SPAWN`. I don't suppose you know of anything similar I can use in the Swift file `swift/stdlib/private/SwiftPrivateDarwinExtras/Subprocess.swift`? For the time being I'm using `#if os(Android)`.

[2016-02-28 05:14] zhuowei opened #19 "libicu data files need to be pushed to device"
@modocache I don't think the build script pushes libicu yet; should that be added to the build script? I was getting "Illegal instruction" errors which turned out to be an abort() called by the runtime since libicu was missing.

[2016-02-28 06:22] modocache commented on #19
Yes, it's possible that my device had those installed already from some other experiment. Scary! I'll add it to `utils/android/adb_push_built_products` and try to test a clean install more often. Thanks for pointing this out!!

[2016-04-15 15:18] liufsd commented on #8
libicudata.so crash
https://github.com/SwiftAndroid/swift-android-samples/issues/1

[2016-06-06 15:07] modocache commented on #10
Now that Android support is merged upstream, we're beginning to [use Swift JIRA to track Android issues](https://bugs.swift.org/secure/Dashboard.jspa?selectPageId=10412). @ephemer, if you're still interested in this, could you create a JIRA task (with the "Android" label) that summarizes the work done here, what needs to be done, and what open questions there are? I think a lot of people would app

[2016-06-06 15:09] modocache commented on #13
Closing this in order to centralize the discussion here: https://bugs.swift.org/browse/SR-1362

[2016-06-06 15:09] #13 closed

[2016-06-06 15:42] ephemer commented on #10
@modocache thanks for bringing this up. I've created an issue for further discussion on JIRA: https://bugs.swift.org/browse/SR-1690. Going to close this GitHub issue now

[2016-06-06 15:42] #10 closed

[2016-06-10 12:14] ephemer commented on #7
@modocache I'm pretty certain this is still an issue. We are now running into an issue even loading libc++_shared.so on Android < 4.3 when Crosswalk v18+ is also installed. I assume the reason is that Crosswalk v18 loads its own incompatible version of libc++_shared.so, which means even if we explicitly called System.loadLibrary on ours (that Swift needs), the other one is already loaded and ours

[2016-06-10 17:32] modocache commented on #7
I'd say any major issue should be reported on Swift JIRA. That way, we could get input from a broader set of people familiar with Swift.

[2016-06-17 16:05] modocache commented on #19
This has been taken care of upstream: https://github.com/apple/swift/blob/60a6522ac6e618aca664bcf68f2d56cfa9ed3192/test/CMakeLists.txt#L234-L238

Thanks for pointing this out!!

[2016-06-17 16:05] #19 closed

[2016-06-17 16:06] modocache commented on #8
Let's continue this discussion here: https://bugs.swift.org/browse/SR-1359

[2016-06-17 16:06] #8 closed

[2016-06-17 16:09] modocache commented on #3
This has mostly been taken care of upstream, through a combination of raising the minimum API level and implementing custom workarounds for StdlibUnittest. Still some room for improvement, though: https://bugs.swift.org/browse/SR-1746

[2016-06-17 16:09] #3 closed

[2016-06-17 16:13] modocache commented on #16
This [failure still occurs](https://gist.github.com/modocache/cd78b818eddfc7f18f0f280fd13dcb30) on apple/swift master. I'm working on migrating this GitHub issue into a Swift JIRA task.

[2017-03-10 23:44] ephemer commented on #16
@modocache @hpux735 do either of you have experience using explicit SIMD instructions in Swift on non-Apple platforms?

I was just working on our bandpass filterbank today and got it performing even faster than the Accelerate framework when `float4`s are available. Would like to open-source this but its scope is pretty limited until it's available cross-platform.

I saw somewhere (maybe this threa

[2021-05-25 15:57] #7 closed